
__pycache__/
*.py[cod]
*.pyo

venv/
env/

*.sqlite3
media/
staticfiles/

.vscode/

.env

*.egg
*.egg-info/
dist/
build/

*.log

Thumbs.db
.DS_Store

.gitignore

employees_import.csv
=======
# Node
node_modules/
npm-debug.log
yarn-error.log

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
*.sqlite3

# Build
dist/
build/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

